<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .board {
            display: flex;
            flex-direction: column;
        }

        .cell {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            border: 1px solid gray;
            position: relative;
        }

        .gray{
            background: gray;
        }

        .rsum{
            position: absolute;
            line-height: 7px;
            top: 7px;
            right: 7px;
        }

        .dsum{
            position: absolute;
            line-height: 7px;
            bottom: 7px;
            left: 7px;
        }

        .possible{
            font-size: 10px;
            line-height: 15px;
        }

    </style>
</head>
<body>
<div class="board">
    {% for line in cells %}
    <div>
        {% for cell in line %}
        {% if cell.value == 0 %}
        <div class="cell">
            <div class="possible">
                {{cell.possible_values | join(' ')}}
            </div>
        </div>
        {% endif %}
        {% if cell.value == -1 %}
        <div class="cell gray">
            <div class="rsum">{{cell.r_sum or ""}}</div>
            <div class="dsum">{{cell.d_sum or ""}}</div>
        </div>
        {% endif %}
        {% if cell.value > 0 %}
        <div class="cell">{{cell.value}}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
</body>
</html>